<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<description>apache shiro 配置</description>
	
    <!-- 自定义shiro的realm数据库身份验证 -->
	<bean id="jdbcAuthenticationRealm" class=" com.ddt.mobile.realm.JdbcAuthenticationRealm">
		<property name="name" value="jdbcAuthentication" />
		<property name="credentialsMatcher">
			<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
				<property name="hashAlgorithmName" value="MD5" />
			</bean>
		</property>
    	<property name="authorizationCacheName" value="shiroAuthorizationCache" />
    	<property name="defaultRole">
    	    <list>
    	        <value>user</value>
    	    </list>
    	</property>
	</bean>
	
	<!-- shiro 的缓存管理,使用spring的ehCacheManagerFactory,
		  操作spring缓存工厂来及时更新shiro的缓存管理
		 ehCacheManagerFactory对象在applicationContext-core.xml中配置 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"> 
        <property name="cacheManager" ref="ehCacheManagerFactory" />
    </bean>
    
    <!-- 使用默认的WebSecurityManager -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!-- realm认证和授权,从数据库读取资源 -->
		<property name="realm" ref="jdbcAuthenticationRealm" />
		<!-- cacheManager,集合spring缓存工厂 -->
		<property name="cacheManager" ref="cacheManager" />
		<!-- rememberMeManager使用自定义的org.exitsoft.showcase.service.account.CustomRememberMeManager -->
		<!-- <property name="rememberMeManager" ref="customRememberMeManager" /> -->
	</bean>
	
	<!-- 将shiro与spring集合 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- <property name="filters">
			<map>
				<entry key="captchaAuthc" value-ref="captchaAuthenticationFilter" />
			</map>
		</property> -->
		<!-- shiro的核心安全接口 -->
    	<property name="securityManager" ref="securityManager" />
	   <!-- 默认的连接配置 -->
		<property name="filterChainDefinitions">
			<value>
			    /image-view = anon
			    /index = anon
				/login = anon
				/logout = anon
				/admin/** = roles[admin]
				/merchant/** = roles[user]
				/qiniu/** = roles[user]
				/** = anon
			</value>
		</property>
	</bean>
	
</beans>