<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2010 The myBatis Team

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:jdbc="http://www.springframework.org/schema/jdbc"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:cache="http://www.springframework.org/schema/cache" 
     xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
	
    <context:property-placeholder location="classpath:db.properties,classpath:wx.properties,classpath:baidu.properties"/>

    <bean id="master" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
      <property name="driverClassName"> 
            <value>${db.driver}</value> 
        </property>
        <property name="url"> 
            <value>${db.url}</value> 
        </property> 
        <property name="username"> 
            <value>${db.username}</value> 
        </property> 
        <property name="password"> 
            <value>${db.password}</value> 
        </property>
        <property name="validationQuery">  
			<value>SELECT 1</value>  
		</property>
		<property name="testOnBorrow"> 
		    <value>true</value> 
		</property>
    </bean>
    
    <bean id="slave1" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
      <property name="driverClassName"> 
            <value>${db.driver}</value> 
        </property> 
        <property name="url"> 
            <value>${db.url.readonly}</value> 
        </property> 
        <property name="username"> 
            <value>${db.username}</value> 
        </property> 
        <property name="password"> 
            <value>${db.password}</value> 
        </property>
        <property name="validationQuery">  
			<value>SELECT 1</value>  
		</property>
		<property name="testOnBorrow"> 
		    <value>true</value> 
		</property>
    </bean>
	
    <bean id="dynamicDatasource" class="com.ddt.core.datasource.DynamicDatasource">
        <property name="targetDataSources">
            <map>
                <entry key="slave" value-ref="slave1"/>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="master"/>
    </bean>
    
    <!-- transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dynamicDatasource" />
    </bean>

    <!-- enable component scanning (beware that this does not enable mapper scanning!) -->    
    <context:component-scan base-package="com.ddt.core.aop,com.ddt.core.service"/> 
    
    <!-- 启用Aop AspectJ注解 -->
    <aop:aspectj-autoproxy/>

    <!-- enable autowire -->
    <context:annotation-config />

    <!-- enable transaction demarcation with annotations -->
    <tx:annotation-driven />

    <!-- define the SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dynamicDatasource" />
        <property name="typeAliasesPackage" value="com.ddt.core.meta" />
        <property name="configLocation" value="classpath:ddt-core.xml"/>
    </bean>
    
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
  		<constructor-arg index="0" ref="sqlSessionFactory"/>
  	</bean>
    
    <!-- scan for mappers and let them be autowired -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ddt.core.mapper" />
    </bean>
    
     <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="insert*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="select*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    
    <aop:config>
        <aop:pointcut id="interceptorPointCuts"
            expression="execution(* com.ddt.core.service.*.*(..))" />
        <aop:advisor advice-ref="txAdvice"
            pointcut-ref="interceptorPointCuts" />        
    </aop:config>
    
    <!-- spring对ehcache的缓存工厂支持 -->
	<bean id="ehCacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml" />
	</bean>
	
	<!-- spring对ehcache的缓存管理 -->
	<bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="ehCacheManagerFactory"></property>
	</bean>
	
	<!-- 使用缓存annotation 配置 -->
	<cache:annotation-driven cache-manager="ehCacheManager" proxy-target-class="true" />
	
</beans>
