.form{
    width: 600px;
    margin: 0 auto;
    height: 450px;
    border: 1px solid #dedede;
    margin-top: 40px;
    margin-bottom: 40px;
}
.fixform{
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}
.fixform fieldset{
    border: 0;

}
.fixform legend{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #6c3;
    margin-bottom: 10px;
}
.fixform .current{
    height: 32px;
    font-size: 14px;
    color: #333;
}
.fixform p{
    float: left;
    margin-left: 140px;
}
.fixform .current .new_name{
    margin-left: 155px;
}
.fixform .current .old_name{
    margin-left: 10px;
    height: 30px;
    width: 258px;
    display: inline-block;
    margin-bottom: 10px;
}
.fixform input{
    height: 30px;
    width: 258px;
    line-height: 30px;
    text-align: left;
    border: 1px solid #dedede;
    border-radius: 2px;
    margin-bottom: 10px;
}
.fixform span{
    display: inline-block;
    height: 30px;
    width: 85px;
    font-size: 14px;
    color: #333;
}
.btns{
    margin-left: 207px;
}
.save,.close{
    width: 62px;
    height: 30px;
    float: left;
    margin-top: 15px;
}

.save{
    margin-right: 20px;
}
.fixform .close{margin-left: 0;}
.submit, .close_btn{
    display: block;
    height: 27px;
    width: 62px;
    
    border: 1px solid #d9d9d9;
}
.close_btn span{
    width: 60px;
    height: 25px;
    line-height: 25px;
    letter-spacing: 2px;
    background: #f2f2f2;    
    border: 1px solid #fff;
}
.submit span{
    width: 60px;
    height: 25px;
    line-height: 25px;
    letter-spacing: 2px;
    background: #6c3;
    color: #fff;
    border: 1px solid #fff;

}
.fixform .upfile{
    margin-top: 10px;
    margin-left: 225px;
}
#textfield{
    height: 24px;
    line-height: 24px;
    width: 183px;
}
.fixform .newfile{text-align: center;width: 65px;height: 26px;line-height: 26px;margin-left: 7px;font-size: 12px;}
.fixform .file{
    position: absolute;
    top: 295px;
    left: 224px;
    height: 24px;
    _filter: alpha(opacity:0);
    *height: 26px;
    line-height: 24px;
    opacity: 0;
    width: 261px;
    cursor: pointer;
}