body{
	padding: 0;
	margin:0;
	background:url(/images/login_bottom_bg.jpg) 0 bottom; 
}
.login-form .introduction{
	width: 790px;
	height: 100px;
	z-index: 1px;
	padding-top: 30px;
	padding-left: 130px;
	margin-top: -400px;
}
.login-form .introduction span{
	text-align:center;
	color: #4c4c4c;
	font-family: 宋体;
	font-size: 14px;
}
.login-form-left{
	background:url(/images/login_left_bg.jpg) 0 -100px;
}
.login-form{
	background:url(/images/login_main.jpg) no-repeat 0 -100px;
	width: 1005px;
	height: 585px;
	margin-left:-3px;
	z-index: -1;
}

.login-form-bg{
	width:999px;
}

.login-form input{
	border:none; 
	width: 146px;
	height: 20px;
	line-height: 20px;

}
.login-form .input-container span{
	color: #888;
	font-size: 15px;
	font-family: 宋体;
}
.login-form .input-container{
	padding-left: 55px;
}

.login-form .login-buttons button{
	background-color:#00809f;  
	color: #fff; 
	font-size: 16px;
	font-family: 黑体;
	border-radius: 4px;
	border: 1px solid #00809f;
	width: 100px;
	cursor: pointer;
	height: 40px;
	margin-left: 20px;
	margin-top: 7px;
}

.login-form .login-buttons .forget a{
	text-decoration: none; 
	color: #999;
	font-size:14px;
	font-family:微软雅黑;
}
.login-form .login-buttons .login-button:hover{
	border:1pt dotted silver;
}
.logon-form-right{
	background: url(/images/login_right_bg.jpg) 0 -100px;
}
